*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* setting up sections for players */
#playerOne{
    background:gray;
    width: 50%;
    height: 85%;
    float: left;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 20px;

}

#playerTwo{
    background: blue;
    width: 50%; 
    height: 85%;
    float: right;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}



/* ScoreBoard Styling */
#oneScore{
    height: 10%;
    width: 16%;
    background: white;
    color: black;
    position: relative;
    top: 35%;
    left: 65%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    border: 4px solid black;
}

#twoScore{
    height: 10%;
    width: 16%;
    background: white;
    color: black;
    position: relative;
    top: 35%;
    left: 25%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    border: 4px solid black;

}

#resetButton{
    position: absolute;
    width: 80px;
    color: white;
    background: red;
    height: 30px;
    top: 80%;
    right: 47.5%;
    border-radius: 20px;
}



/* Header and Footer Styling */
#mastHead{
    width: 100%;
    height: 100px;
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 3em;
    font-family: 'Lobster', cursive;


}
#mastBottom{
    width: 100%;
    height: 100px;
    background: black;
    color: white;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 40px;
    
}

/* styling for rock, paper and scissors icons */
.iconOne{
    height: 15%;
    width: 15%;
    position: relative;
    left:25%;
    border-radius: 10px;
    border: 4px solid black;
}
.iconTwo{
    height: 15%;
    width: 15%;
    position: relative;
    left: 55%;
    border-radius: 10px;
    border: 4px solid black;

}



img{
    display: block;
    margin: 20px;

}

/* psuedo code for fun */
.iconTwo:hover {
    border: 4px solid red;
}
.iconOne:hover {
    border: 4px solid red;
}

/* win or lose banner */
#banner{
    height: 100px;
    width: 500px;
    background: black;
    color: white;
    position: absolute;
    text-align: center;
    padding: 30px;
    font-size: 2em;
    top: 30%;
    right: 32.5%;
    border-radius: 20px;
    border: 4px solid white;


}

/* playerOne and playerTwo prompts */

#playerOnePrompt{
    height: 50px;
    width: 250px;
    background: black;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 240px;
    border-radius: 10px;
    border: 4px solid white;

}

#playerTwoPrompt{
    height: 50px;
    width: 250px;
    background: black;
    padding: 10px;
    position: relative;
    left: 240px;
    top: 30px;
    border-radius: 10px;
    border: 4px solid white;

    
    
}